
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap");

@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", Helvetica, Arial, sans-serif;
}

@layer utilities {
  .clip-trapezoid {
    clip-path: polygon(15% 0%, 85% 0%, 100% 100%, 0% 100%);
  }
}
.leaflet-marker-icon.custom-avatar-icon {
  transition: transform 1s linear !important;
}
